extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5   
                img(src="img/nosotros.jpg", alt="Imagen torre icfel" class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat maximus magna, ut rhoncus tortor tristique rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et mollis arcu.

                p urna risus, tincidunt vitae lacus lacinia, lobortis porta lacus. Pellentesque sollicitudin magna quis eros egestas, eu pretium ex ultricies. Phasellus molestie dolor in faucibus finibus. Sed sit amet ultrices felis.

                p et elementum quam, quis sodales magna. Integer in elit in orci pharetra commodo dignissim sed risus. Nullam quis rhoncus ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vitae mauris ac metus vulputate tempus. Pellentesque lacinia posuere nisi. Integer sollicitudin sapien nisi, non congue enim aliquet nec. Aliquam ullamcorper dapibus arcu eu maximus. Maecenas tempor, ex id vehicula eleifend, nisl enim vestibulum quam, ut placerat magna orci non ipsum. Ut lorem enim, lacinia vitae luctus vel, dapibus sit amet ligula. Aliquam a nulla vel ligula porttitor tincidunt.


    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus id, rerum deserunt cupiditate fugit asperiores quae aspernatur debitis vel. Rem ducimus provident sapiente atque recusandae minima, adipisci eum cumque maxime.

                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus id, rerum deserunt cupiditate fugit asperiores quae aspernatur debitis vel. Rem ducimus provident sapiente atque recusandae minima, adipisci eum cumque maxime.

                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus id, rerum deserunt cupiditate fugit asperiores quae aspernatur debitis vel. Rem ducimus provident sapiente atque recusandae minima, adipisci eum cumque maxime.